
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#videoContainer {
    position: relative;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
}


.start{
    position: absolute;
    left: 35%;
    top: 50%;
    color: red;
    font-family: 'Nunito', sans-serif;
    font-size: 175px;
    line-height: 0;
}


#video1 {
    width: 100%;
    height: 100%;
/*
    opacity: 0.4;
    filter: alpha(opacity=40);
*/

    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1); filter: FlipH;
}

.graphicsContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;

}


#gameBack, #gameFront, #gameForeground, #gameText {
    background-color:transparent;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}


.invisible {
   display: none;
}
